@import "tailwindcss";

.cm-editor {
  display: flex !important;
  flex-direction: column;
  height: 100% !important;
}
.cm-scroller {
  overflow: auto;
  flex: 1 1 auto;
}
.cm-content {
  white-space: pre-wrap;
  word-wrap: break-word;
}

@theme {
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;
  --color-primary-950: #1e1b4b;

  --color-accent-50: #f5f3ff;
  --color-accent-100: #ede9fe;
  --color-accent-200: #ddd6fe;
  --color-accent-300: #c4b5fd;
  --color-accent-400: #a78bfa;
  --color-accent-500: #8b5cf6;
  --color-accent-600: #7c3aed;
  --color-accent-700: #6d28d9;
  --color-accent-800: #5b21b6;
  --color-accent-900: #4c1d95;
  --color-accent-950: #2e1065;
}

.cm-diff-added {
  background-color: rgba(187, 247, 208, 0.6);
}

.cm-diff-removed {
  background-color: rgba(254, 202, 202, 0.7);
}

.cm-diff-modified {
  background-color: rgba(254, 240, 138, 0.6);
}
