NUXT_PUBLIC_API_BASE=
NUXT_PUBLIC_EXAM_DEBUG=false
NUXT_PUBLIC_EXAM_EST_SINGLE=60
NUXT_PUBLIC_EXAM_EST_MULTIPLE=80
NUXT_PUBLIC_EXAM_EST_TRUE_FALSE=45
NUXT_PUBLIC_EXAM_EST_FILL=80
NUXT_PUBLIC_EXAM_EST_MATCH=120
