fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
pymysql==1.1.1
aiomysql==0.2.0
cryptography==44.0.2
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
bcrypt==4.2.1
python-multipart==0.0.20
PyMuPDF==1.25.5
python-docx==1.1.2
openpyxl==3.1.5
xlrd==2.0.1
alembic==1.14.1
pydantic-settings==2.8.1
email-validator==2.2.0
httpx==0.28.1
openai==1.66.3
python-pptx==1.0.2
redis==5.2.1
